@charset "UTF-8";

.product-page {
    padding: 30px 0;
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.product-title {
    font-weight: 300;
    font-size: 24px;
    margin-top: 0;
}

.shareIcons {
    position: absolute;
    top: -30px;
    right: 0;
}

.product-detail {
    margin-bottom: 15px;
}

.product-price {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    display: inline-block;
}

.product-price span {
    font-size: 25px;
}

.old-price {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: #888;
}

.product-piece {
    clear: both;
    float: left;
    width: 120px;
    height: 50px;
    margin-right: 15px;
    border: 2px solid #DADADA;
}

.product-piece a {
    color: #B6B6B6;
    font-size: 22px;
    float: left;
    width: 28px;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

.product-piece div {
    float: left;
}

.product-piece div input {
    border: 0;
    clear: both;
    color: #161616;
    font-size: 23px;
    float: left;
    text-align: center;
    width: 60px;
    padding: 0 4px;
}

.product-piece div label {
    clear: both;
    color: #9E9E9E;
    font-size: 11px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: -5px;
    text-indent: 2px;
}

.gotoBasket.acc-btn {
    margin: 0;
}

.gotoBasket.acc-btn:hover {
    text-decoration: none;
}

.product-installment {
    color: #979797;
    line-height: 16px;
    letter-spacing: 1px;
    font-size: 14px;
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #979797;
}

.shipping-cost {
    margin-top: 10px;
    font-weight: bold;
}

.shipping-cost span {
    color: #838383;
}

.product-info {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.product-info .nav {
    border-bottom: 4px solid #1AABE4;
}

.product-info .nav li {
    display: table-cell;
    width: 1%;
    position: relative;
    text-align: center;
}

.product-info .nav li a {
    color: #000;
    overflow: hidden;
    background-color: #FFF;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.product-info .nav > li.active > a,
.product-info .nav > li > a:hover,
.product-info .nav > li > a:focus {
    background-color: #1AABE4;
    color: #FFF;
}

.product-info .tab-content {
    padding: 30px;
    background: #FFF;
}

#tabDetails img {
    max-width: 100%;
    height: auto;
}

/* Bottom-line-style
.product-info .nav li a:after {
    content: "";
    bottom: -4px;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #1AABE4;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    filter: alpha(opacity=0);
}

.product-info .nav > li.active > a:after,
.product-info .nav > li > a:hover:after,
.product-info .nav > li > a:focus:after {
    bottom: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}
#Bottom-line-style# */
#thumbnailContainer {
    text-align: center;
}

#thumbnailContainer .productThumbImage {
    display: block;
    margin-bottom: 10px;
}

#thumbnailContainer.noCarousel .sliderArrow {
    display: none;
}

#thumbnailCarousel {
    height: 440px;
    overflow: hidden
}

#thumbnailCarousel a {
    display: block;
    border: 1px solid #DDF3FF;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 2px 1px;
    margin-bottom: 5px;
}

#thumbnailCarousel a:hover {
    border: 1px solid #1AABE4;
}

#thumbnailCarousel .active {
    border: 1px solid #1AABE4;
}

.productImages {
    position: relative;
}

.productImages img {
    width: 100%;
}

.productRating {
    float: left;
}

.filter-products-title {
    text-align: center;
    background-color: #FFF;
    padding: 15px;
    border-bottom: 4px solid #09A6D7;
    font-weight: 700;
}

.star {
    float: right;
}

.propertyBox {
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/* widgets */
.widgetProductList ul,
.widgetProductList ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.widgetProductList ul li {
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
    padding: 15px;
}

.widgetProductList ul li a {
    color: #000;
}

.widgetProductList ul li a:hover {
    text-decoration: none;
}

.widgetProductList ul li:last-child {
    border-bottom: 0;
}

.widgetProductList ul li .star {
    float: right;
    margin-top: 15px;
}

.widgetProductList .product-list {
    background: #FFF;
}

.widgetProductList .product-image {
    float: left;
}

.widgetProductList .product-title {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.widgetProductList .product-details {

}

.widgetProductList .product-details .old-price {
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
    color: #888;
    line-height: 30px;
    float: left;
    margin-right: 10px;
}

.widgetProductList .product-details .price {
    font-size: 18px;
    line-height: 30px;
}

.addedDetails {
    margin-bottom: 30px;
}

.addedImage img {
    max-width: 100%;
}

/* #widgets #*/
@media only screen and (max-width: 767px) {
    .product-info .nav li {
        display: block;
        width: auto;
    }

    .product-price {
        width: 100%;
        text-align: center;
    }

    .product-installment {
        display: block;
        padding-top: 10px;
        margin: 10px auto;
        padding-left: 0;
        text-align: center;
        border-top: 1px solid #979797;
        border-left: 0;
    }

    .star {
        text-align: center;
    }

    .product-title {
        margin-top: 15px;
    }

    .xscenter {
        text-align: center;
    }

    .product-piece {
        float: none;
        margin: 0 auto;
    }

    .gotoBasket.acc-btn {
        margin-top: 15px;
        display: inline-block;
        float: none;
    }

}

@media only screen and (max-width: 992px) {
    #thumbnailCarousel {
        height: auto;
        margin-left: -10px;
    }

    .productThumbImage {

        float: left;
        margin-left: 10px;
    }

    .productImages img {
        width: 100% !important;
        height: auto !important;
        position: static !important;
    }
}
